@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

[data-bs-theme="dark"] body {
  background-color: #1a1a2e;
}

[data-bs-theme="contrast"] body {
  background-color: #000;
}

.main-font {
  font-family: quicksand;
  color: rgb(27, 27, 27)
}

.bg-primary-color {
  background-color: #00808031;
}

.bg-gray-color {
  background-color: #d4d4d4;
}

.bg-blue {
  background-color: #6187da;
}

.bg-green {
  background-color: #61da85;
}

#fileLabel {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: transparent;
  color: black;
  border-radius: 5px;
  border: .17em #0051ffff dotted;
  cursor: pointer;
}

.btn-green {
  background-color: #50b970 !important;
}

.bg-light-blue {
  background-color: #5da9b3 !important;
}

.custom-tooltip {
  color: red !important;
  background-color: red !important;
}