@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  padding: 0;
  margin: 0;
}

.main-font {
  font-family: quicksand;
}

.bg-primary-color {
  background-color: #00808031;
}

.bg-gray-color {
  background-color: #d4d4d4;
}

.bg-blue {
  background-color: #6187da;
}

#fileInput::file-selector-button {
  font-family: quicksand;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  border: 0.1em rgb(80, 80, 80) solid;
  border-radius: 9px;
}