input,
input:focus,
input:active {
  border: none;
  outline: none; /* removes the focus ring */
  box-shadow: none; /* removes Bootstrap's blue glow */
}

.no-print {
    background-color: red;
}

@media print {
  .no-print {
    background-color: red;
  }

}
