.prescription {
  transform: scale(100%);
  transition: 0.5s;
}

.prescription:hover {
  transform: scale(110%);
  transition: 0.5s;
}

.selected-prescription {
  opacity: 100%;
}

.non-selected-prescription {
  opacity: 30%;
}

.lightScrollbar {
  scrollbar-width: none;
}
